[Unit]
Description=uWSGI instance to serve Penn events calendar
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/ubuntu/penn-events-calendar/backend
Environment="PATH=/home/ubuntu/penn-events-calendar/backend/pennenv/bin"
ExecStart=/home/ubuntu/penn-events-calendar/backend/pennenv/bin/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target
